* {
    font-family: Roboto, sans-serif;
    /* outline: 1px solid red; */
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 85px;
}

.head-logo {
    font-size: 24px;
    color: #f9faf8;
    align-content: center;
    margin-left: 250px;
}

.head-links {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    margin-right: 250px;
    padding: 0;
    align-items: center;
    gap: 18px;
}

li {
    list-style: none;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.hero-cont {
    justify-content: space-between;
    display: flex;
    padding-bottom: 100px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    width: 500px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-sub {
    font-size: 18px;
    color: #e5e7eb;
    flex-wrap: wrap;
    max-width: auto;
    padding-bottom: 20px;
}

.hero-button {
    background-color: #3882f6;
    font-size: 18px;
    color: white;
    width: 105px;
    height: 32px;
    border: none;
    border-radius: 5px;
}

.img {
    margin-right: 250px;
}

img {
    height: 280px;
    width: 600px;
}